<div class="message">
  <div class="upper-message">
    <div class="message-date">
      <%= l check.created_at %>
    </div>
    <div class="message-user">
      <%= check.menuname %>
    </div>
    <div class="cup">
      ×<%= check.cup %>
    </div>
    <div class="message-content">
      ¥<%= check.menuallprice %>
    </div>
  </div>
</div>