.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
}
.guests {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}
.check {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.check-header {
  height: 100px;
  padding: 0 40px;
}
.checks {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}
.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}