.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-shopname a{
  font-size: 20px;
  color: gold;
  text-decoration: none;
}

.create-check a {
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.today {
  color: yellow;
  width: 300px;
  text-align: center;
  height: 50px;
  padding: 15px 0 0 0;
  font-size: large;
}

.guests {
  background-color: #2F3E51;
  height: calc(100vh - 150px - 50px);
  padding: 0 20px;
  overflow: scroll;
}

.guest {
  padding: 20px 0 40px;
}

.guest-name a {
  text-decoration: none;
  color: white;
}

.creates{
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.create-menu a{
  font-size: 10px;
  border: 1px solid lightblue;
  color: deepskyblue;
  text-decoration: none;
  padding: 14px;
}

.create-guest a {
  font-size: 10px;
  border: 1px solid lightblue;
  color: deepskyblue;
  text-decoration: none;
  padding: 14px;
}

.check {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.check-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-guestname {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  padding: 20px;
  text-decoration: none;
  color: #FAFAFA;
  background-color: black;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.checkcreate {
  height: 50px;
  width: calc(100vw - 300px);
  background-color: #253141;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.drinkmenu{
  font-size: 10px;
  border: 3px solid ;
  color: darkred;
  text-decoration: none;
  padding: 14px;
  cursor: pointer;
}

.menuname {
  text-align: center;
}

.menuprice {
  text-align: center;
}

.menuallprice {
  text-align: center;
}

.spinner_area input{
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 50px;
  vertical-align: middle;
}

.spinner_area input[type="button"]{
  cursor: pointer;
}

.cups{
  text-align: center;
}

.checks {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px - 50px);
  padding: 30px;
  overflow: scroll;
}

.message {
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.final-checks {
  background-color: #253141;
  height: 90px;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}

p {
  width: 200px;
  font-size: 50px;
  color: black;
  background-color: burlywood;
  text-align: center;
}

.final-check{
  margin-top: 10px;
}

.final-check input{
  width: 300px;
  height: 50px;
  text-align: center;
  font-size: 30px;
}